<!DOCTYPE html>
<html>
    <head>
        <title>Compare OSM Feature Density</title>
        <meta charset="UTF-8">
        <style type="text/css">
            * {{
                font-family: Helvetica,Arial,sans-serif;
                color: #00e200;
            }}
            body {{
                background-color: black;
            }}
            input, submit, select, option {{
                background-color: #161616;
                appearance: none;
                font-size: 20px;
                margin: 0% 1% 1%;
            }}
            label {{
                font-size: 20px;
                margin: 0% 1% 1%;
            }}
        </style>            
    </head>
    <body>
        <span style='font-family: "Lucida Console";line-height: 14px;font-size: 14px;display: inline-block;'>░▒█▀▀▄░▄▀▀▄░█▀▄▀█░▄▀▀▄░█▀▀▄░█▀▀▄░█▀▀░░░▒█▀▀▀█░▒█▀▀▀█░▒█▀▄▀█<br>░▒█░░░░█░░█░█░▀░█░█▄▄█░█▄▄█░█▄▄▀░█▀▀░░░▒█░░▒█░░▀▀▀▄▄░▒█▒█▒█<br>░▒█▄▄▀░░▀▀░░▀░░▒▀░█░░░░▀░░▀░▀░▀▀░▀▀▀░░░▒█▄▄▄█░▒█▄▄▄█░▒█░░▒█<br></span>
        <br>
        <br>
        <span style='font-family: "Lucida Console";line-height: 14px;font-size: 14px;display: inline-block;'>░▒█▀▀▀░█▀▀░█▀▀▄░▀█▀░█░▒█░█▀▀▄░█▀▀░░░▒█▀▀▄░█▀▀░█▀▀▄░█▀▀░░▀░░▀█▀░█░░█<br>░▒█▀▀░░█▀▀░█▄▄█░░█░░█░▒█░█▄▄▀░█▀▀░░░▒█░▒█░█▀▀░█░▒█░▀▀▄░░█▀░░█░░█▄▄█<br>░▒█░░░░▀▀▀░▀░░▀░░▀░░░▀▀▀░▀░▀▀░▀▀▀░░░▒█▄▄█░▀▀▀░▀░░▀░▀▀▀░▀▀▀░░▀░░▄▄▄▀<br></span>
        <br>
        <br>
        <h3>
            {city1_name} has 1 <a href="https://wiki.openstreetmap.org/wiki/Tag:{tag}" target="_blank" rel="noreferrer noopener">{tag}</a> per {city1_feature_per_x_people} people.
        </h3>
        <h3>
            {city2_name} has 1 <a href="https://wiki.openstreetmap.org/wiki/Tag:{tag}" target="_blank" rel="noreferrer noopener">{tag}</a> per {city2_feature_per_x_people} people.
        </h3>
        <hr>
        <p>Built by <a href="https://nathanwyand.com" target="_blank" rel="noreferrer noopener">Nathan Wyand</a> with AWS Lambda, DynamoDB, Python, overpy, geopy, requests, and SPARQL.</p>
        <p>View the source and contribute at <a href="https://gitlab.com/partytax/compare-osm-feature-density" target="_blank" rel="noreferrer noopener">GitLab</a>.</p>
    </body>
</html>
